<div class = "container">
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="container-fluid">
                <h1>Home Page</h1>
                <br>
                <%= button_to "View Students", view_students_path, method: :get %>
                <br>
                <%= button_to "View Teachers", admin_view_professors_path, method: :get %>
                <br>
                <%= button_to "View Courses", courses_path, method: :get %>
                </div>
            </div>
        </div>
    </div>
</div>